.vscode/**
.vscode-test/**
node_modules/**
out
media/**
src/**
.gitmodules
.gitignore
.github
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.esbuild.config.js
.eslintignore
*.gif
build
*.tgz
*.vsix
.claude
.tool-versions
icon.svg
dev.md
standalone/**
dist-standalone/**
tests/**
uf2/**

# We need the codicon node module included for the fonts + icons to work
!node_modules/@vscode/codicons/dist
